In [1]:
import pandas as pd
import numpy as np
import rasterio
from rasterio.plot import show
from datetime import datetime
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt
import seaborn as sns

# ------------------------
# 1. FAOSTAT Crop Yield Data
# ------------------------

In [2]:
# Load the datasets
faostat_df = pd.read_csv("1_FAOSTAT_data_en_5-13-2025.csv")

In [3]:
# Inspect the dataset
print("FAOSTAT Initial Info:")
print(faostat_df.info())
print(faostat_df.head())

FAOSTAT Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5292 entries, 0 to 5291
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Domain Code       5292 non-null   object
 1   Domain            5292 non-null   object
 2   Area Code (M49)   5292 non-null   int64
 3   Area              5292 non-null   object
 4   Element Code      5292 non-null   int64
 5   Element           5292 non-null   object
 6   Item Code (CPC)   5292 non-null   float64
 7   Item              5292 non-null   object
 8   Year Code         5292 non-null   int64
 9   Year              5292 non-null   int64
 10  Unit              5292 non-null   object
 11  Value             5142 non-null   float64
 12  Flag              5292 non-null   object
 13  Flag Description  5292 non-null   object
 14  Note              102 non-null    object
dtypes: float64(2), int64(4), object(9)
memory usage: 620.3+ KB
None
  Domain Code                        Domain  Area Code (M49)      Area  \
0         QCL  Crops and livestock products              231  Ethiopia
1         QCL  Crops and livestock products              231  Ethiopia
2         QCL  Crops and livestock products              231  Ethiopia
3         QCL  Crops and livestock products              231  Ethiopia
4         QCL  Crops and livestock products              231  Ethiopia

   Element Code         Element  Item Code (CPC)  \
0          5312  Area harvested           1654.0
1          5412           Yield           1654.0
2          5510      Production           1654.0
3          5312  Area harvested           1654.0
4          5412           Yield           1654.0

                                                Item  Year Code  Year   Unit  \
0  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000     ha
1  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000  kg/ha
2  Anise, badian, coriander, cumin, caraway, fenn...       2000  2000      t
3  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001     ha
4  Anise, badian, coriander, cumin, caraway, fenn...       2001  2001  kg/ha

   Value Flag Flag Description Note
0  800.0    E  Estimated value  NaN
1  625.0    E  Estimated value  NaN
2  500.0    E  Estimated value  NaN
3  960.0    E  Estimated value  NaN
4  625.0    E  Estimated value  NaN

In [4]:
# Select relevant columns (assuming Area, Item, Element, Year, Unit, Value are key)
faostat_df = faostat_df[['Area', 'Item', 'Element', 'Year', 'Unit', 'Value']]

In [5]:
# Filter for Ethiopia and relevant elements (Yield, Area harvested, Production)
faostat_df = faostat_df[faostat_df['Area'] == 'Ethiopia']
elements = ['Yield', 'Area harvested', 'Production']
faostat_df = faostat_df[faostat_df['Element'].isin(elements)]

In [6]:
# Check for missing values
print("FAOSTAT Missing Values:")
print(faostat_df.isnull().sum())

FAOSTAT Missing Values:
Area         0
Item         0
Element      0
Year         0
Unit         0
Value      150
dtype: int64

In [7]:
# Drop rows with missing values in 'Value' (if any)
faostat_df = faostat_df.dropna(subset=['Value'])

In [8]:
# Pivot the data to have Yield, Area harvested, and Production as columns
faostat_pivoted = faostat_df.pivot_table(
    index=['Area', 'Item', 'Year'],
    columns='Element',
    values='Value',
    aggfunc='first'
).reset_index()

In [9]:
# Rename columns for clarity
faostat_pivoted.columns = ['Area', 'Crop', 'Year', 'Area_Harvested', 'Production', 'Yield']

In [10]:
# Verify units (Yield: hg/ha, Area: ha, Production: tonnes)
print("FAOSTAT Units:")
print(faostat_df[['Element', 'Unit']].drop_duplicates())

FAOSTAT Units:
          Element   Unit
0  Area harvested     ha
1           Yield  kg/ha
2      Production      t

In [11]:
# Save cleaned FAOSTAT dataset
# faostat_pivoted.to_csv("Cleaned_FAOSTAT.csv", index=False)
print("FAOSTAT Cleaned Dataset Saved as 'Cleaned_FAOSTAT.csv'")

FAOSTAT Cleaned Dataset Saved as 'Cleaned_FAOSTAT.csv'

# ------------------------
# 2. NDVI Data
# ------------------------

In [12]:
# Load the datasets
ndvi_df = pd.read_csv("2_Ethiopia_NDVI_Monthly.csv")

In [13]:
# Inspect the dataset
print("NDVI Initial Info:")
print(ndvi_df.info())
print(ndvi_df.head())

NDVI Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 277 entries, 0 to 276
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   system:index  277 non-null    int64
 1   NDVI          277 non-null    float64
 2   date          277 non-null    object
 3   .geo          277 non-null    object
dtypes: float64(1), int64(1), object(2)
memory usage: 8.8+ KB
None
   system:index      NDVI     date                                    .geo
0             0  0.263435  2000-02  {"type":"MultiPoint","coordinates":[]}
1             1  0.258993  2000-03  {"type":"MultiPoint","coordinates":[]}
2             2  0.312295  2000-04  {"type":"MultiPoint","coordinates":[]}
3             3  0.437923  2000-05  {"type":"MultiPoint","coordinates":[]}
4             4  0.399441  2000-06  {"type":"MultiPoint","coordinates":[]}

In [14]:
# Drop irrelevant '.geo' column
ndvi_df = ndvi_df.drop(columns=['.geo', 'system:index'])

In [15]:
# Convert 'date' to datetime
ndvi_df['date'] = pd.to_datetime(ndvi_df['date'], format='%Y-%m')

In [16]:
# Validate NDVI values (should be between -1 and 1)
invalid_ndvi = ndvi_df[(ndvi_df['NDVI'] < -1) | (ndvi_df['NDVI'] > 1)]
if not invalid_ndvi.empty:
    print("Invalid NDVI values found:", invalid_ndvi)
else:
    print("All NDVI values are within valid range (-1 to 1).")

All NDVI values are within valid range (-1 to 1).

In [17]:
# Check for missing values
print("NDVI Missing Values:")
print(ndvi_df.isnull().sum())

NDVI Missing Values:
NDVI    0
date    0
dtype: int64

In [18]:
# Drop rows with missing NDVI values (if any)
ndvi_df = ndvi_df.dropna(subset=['NDVI'])

In [19]:
# Extract year and month for potential aggregation
ndvi_df['Year'] = ndvi_df['date'].dt.year
ndvi_df['Month'] = ndvi_df['date'].dt.month

# Aggregate NDVI to yearly averages (or seasonal, depending on crop cycles)
# For now, we'll compute yearly averages; adjust for seasonal if needed
ndvi_yearly = ndvi_df.groupby('Year')['NDVI'].mean().reset_index()

In [20]:
# Save cleaned NDVI dataset
# ndvi_yearly.to_csv("Cleaned_NDVI.csv", index=False)
print("NDVI Cleaned Dataset Saved as 'Cleaned_NDVI.csv'")

NDVI Cleaned Dataset Saved as 'Cleaned_NDVI.csv'

In [21]:
# Preview cleaned datasets
print("\nCleaned FAOSTAT Preview:")
print(faostat_pivoted.head())
print("\nCleaned NDVI Preview:")
print(ndvi_yearly.head())

Cleaned FAOSTAT Preview:
       Area                                               Crop  Year  \
0  Ethiopia  Anise, badian, coriander, cumin, caraway, fenn...  2000
1  Ethiopia  Anise, badian, coriander, cumin, caraway, fenn...  2001
2  Ethiopia  Anise, badian, coriander, cumin, caraway, fenn...  2002
3  Ethiopia  Anise, badian, coriander, cumin, caraway, fenn...  2003
4  Ethiopia  Anise, badian, coriander, cumin, caraway, fenn...  2004

   Area_Harvested  Production  Yield
0           800.0       500.0  625.0
1           960.0       600.0  625.0
2          1120.0       700.0  625.0
3          1280.0       800.0  625.0
4          1440.0       900.0  625.0

Cleaned NDVI Preview:
   Year      NDVI
0  2000  0.400037
1  2001  0.401398
2  2002  0.400534
3  2003  0.405961
4  2004  0.405473

# ------------------------
# 3. NASA POWER Weather Data
# ------------------------

# ------------------------
### 3.1 Solar Radiation
# ------------------------

In [22]:
# Load the dataset
nasa_df = pd.read_csv('3_POWER_Regional_Monthly_2000_2023 (2).csv', skiprows=9)

In [23]:
# Inspect the dataset
print("NASA Power Initial Info:")
print(nasa_df.info())
print(nasa_df.head())

NASA Power Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2160 entries, 0 to 2159
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PARAMETER  2160 non-null   object
 1   YEAR       2160 non-null   int64
 2   LAT        2160 non-null   float64
 3   LON        2160 non-null   float64
 4   JAN        2160 non-null   float64
 5   FEB        2160 non-null   float64
 6   MAR        2160 non-null   float64
 7   APR        2160 non-null   float64
 8   MAY        2160 non-null   float64
 9   JUN        2160 non-null   float64
 10  JUL        2160 non-null   float64
 11  AUG        2160 non-null   float64
 12  SEP        2160 non-null   float64
 13  OCT        2160 non-null   float64
 14  NOV        2160 non-null   float64
 15  DEC        2160 non-null   float64
 16  ANN        2160 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 287.0+ KB
None
           PARAMETER  YEAR   LAT   LON    JAN    FEB    MAR    APR    MAY  \
0  ALLSKY_SFC_SW_DWN  2000  10.5  33.5  21.93  23.45  25.34  21.48  19.07
1  ALLSKY_SFC_SW_DWN  2000  10.5  34.5  21.52  23.12  24.95  20.90  19.83
2  ALLSKY_SFC_SW_DWN  2000  10.5  35.5  21.68  23.60  25.10  21.28  21.05
3  ALLSKY_SFC_SW_DWN  2000  10.5  36.5  21.49  23.23  24.59  21.39  21.34
4  ALLSKY_SFC_SW_DWN  2000  10.5  37.5  22.38  24.45  25.11  20.66  22.31

     JUN    JUL    AUG    SEP    OCT    NOV    DEC    ANN
0  18.36  17.66  17.80  18.88  19.78  21.21  21.01  20.50
1  18.94  16.71  17.17  18.75  18.69  20.81  20.97  20.20
2  19.78  16.80  17.35  19.56  18.39  20.77  20.70  20.51
3  19.53  16.74  16.57  19.40  18.47  20.92  20.43  20.34
4  20.03  17.41  16.54  19.84  19.04  20.26  21.04  20.76

In [24]:
# Check if PARAMETER is uniform (all ALLSKY_SFC_SW_DWN)
if nasa_df['PARAMETER'].nunique() == 1:
    nasa_df = nasa_df.drop(columns=['PARAMETER'])

In [25]:
# Replace -999 with NaN for missing data
nasa_df = nasa_df.replace(-999, np.nan)

In [26]:
# Check for missing values
print("NASA Power Missing Values:")
print(nasa_df.isnull().sum())

NASA Power Missing Values:
YEAR    0
LAT     0
LON     0
JAN     0
FEB     0
MAR     0
APR     0
MAY     0
JUN     0
JUL     0
AUG     0
SEP     0
OCT     0
NOV     0
DEC     0
ANN     0
dtype: int64

In [27]:
# Drop rows with NaN in all monthly columns (JAN-DEC)
monthly_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
nasa_df = nasa_df.dropna(subset=monthly_cols, how='all')

# Melt monthly columns into long format
nasa_melted = pd.melt(
    nasa_df,
    id_vars=['YEAR', 'LAT', 'LON'],
    value_vars=monthly_cols,
    var_name='Month',
    value_name='Solar_Radiation'
)

# Map month abbreviations to numbers
month_map = {
    'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6,
    'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12
}
nasa_melted['Month'] = nasa_melted['Month'].map(month_map)

In [28]:
# Create a datetime column
nasa_melted['Date'] = pd.to_datetime(nasa_melted[['YEAR', 'Month']].assign(DAY=1))

In [29]:
# Drop rows with NaN in Solar_Radiation
nasa_melted = nasa_melted.dropna(subset=['Solar_Radiation'])

In [30]:
# Aggregate spatially (average across LAT/LON) for national-level data
nasa_agg = nasa_melted.groupby(['Date', 'YEAR'])['Solar_Radiation'].mean().reset_index()

# Compute yearly averages for alignment with FAOSTAT
nasa_yearly = nasa_agg.groupby('YEAR')['Solar_Radiation'].mean().reset_index()

In [31]:
# Save cleaned datasets
# nasa_melted.to_csv("Cleaned_NASA_Power_SolarRadiation_monthly.csv", index=False)
# nasa_yearly.to_csv("Cleaned_NASA_Power_SolarRadiation_cleaned_yearly.csv", index=False)
print("NASA Power Cleaned Datasets Saved as 'Cleaned_NASA_Power_SolarRadiation_monthly.csv' and 'Cleaned_NASA_Power_SolarRadiation_cleaned_yearly.csv'")

# Preview cleaned datasets
print("\nCleaned NASA Power Monthly Preview:")
print(nasa_melted.head())
print("\nCleaned NASA Power Yearly Preview:")
print(nasa_yearly.head())

NASA Power Cleaned Datasets Saved as 'Cleaned_NASA_Power_SolarRadiation_monthly.csv' and 'Cleaned_NASA_Power_SolarRadiation_cleaned_yearly.csv'

Cleaned NASA Power Monthly Preview:
   YEAR   LAT   LON  Month  Solar_Radiation       Date
0  2000  10.5  33.5      1            21.93 2000-01-01
1  2000  10.5  34.5      1            21.52 2000-01-01
2  2000  10.5  35.5      1            21.68 2000-01-01
3  2000  10.5  36.5      1            21.49 2000-01-01
4  2000  10.5  37.5      1            22.38 2000-01-01

Cleaned NASA Power Yearly Preview:
   YEAR  Solar_Radiation
0  2000        21.225880
1  2001        20.336213
2  2002        20.732056
3  2003        21.020926
4  2004        21.042417

# ------------------------
### 3.2 Temperature
# ------------------------

In [32]:
# Load the dataset
nasa_temp_df = pd.read_csv('3_POWER_Regional_Monthly_2000_2023.csv', skiprows=9)

In [33]:
# Inspect the dataset
print("NASA Power Temperature Initial Info:")
print(nasa_temp_df.info())
print(nasa_temp_df.head())

NASA Power Temperature Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7296 entries, 0 to 7295
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PARAMETER  7296 non-null   object
 1   YEAR       7296 non-null   int64
 2   LAT        7296 non-null   float64
 3   LON        7296 non-null   float64
 4   JAN        7296 non-null   float64
 5   FEB        7296 non-null   float64
 6   MAR        7296 non-null   float64
 7   APR        7296 non-null   float64
 8   MAY        7296 non-null   float64
 9   JUN        7296 non-null   float64
 10  JUL        7296 non-null   float64
 11  AUG        7296 non-null   float64
 12  SEP        7296 non-null   float64
 13  OCT        7296 non-null   float64
 14  NOV        7296 non-null   float64
 15  DEC        7296 non-null   float64
 16  ANN        7296 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 969.1+ KB
None
  PARAMETER  YEAR   LAT     LON    JAN    FEB    MAR    APR    MAY    JUN  \
0       T2M  2000  10.0  33.125  29.43  30.45  32.17  32.27  29.56  29.35
1       T2M  2000  10.0  33.750  29.71  30.91  32.69  31.42  28.65  27.87
2       T2M  2000  10.0  34.375  25.70  27.99  29.96  27.93  25.53  24.34
3       T2M  2000  10.0  35.000  23.26  25.62  27.93  25.21  23.97  22.55
4       T2M  2000  10.0  35.625  25.55  27.51  30.29  27.37  26.21  24.73

     JUL    AUG    SEP    OCT    NOV    DEC    ANN
0  26.47  26.40  27.63  27.78  30.72  29.22  29.29
1  25.21  24.97  26.10  26.36  29.03  29.43  28.53
2  21.79  21.71  22.51  22.89  24.60  25.28  25.02
3  20.02  20.31  20.81  20.99  22.41  22.71  22.98
4  22.08  22.59  22.91  22.84  24.38  24.81  25.11

In [34]:
# Check if PARAMETER is uniform (all T2M)
if nasa_temp_df['PARAMETER'].nunique() == 1:
    nasa_temp_df = nasa_temp_df.drop(columns=['PARAMETER'])

# Replace -999 with NaN for missing data
nasa_temp_df = nasa_temp_df.replace(-999, np.nan)

# Check for missing values
print("NASA Power Temperature Missing Values:")
print(nasa_temp_df.isnull().sum())

NASA Power Temperature Missing Values:
YEAR    0
LAT     0
LON     0
JAN     0
FEB     0
MAR     0
APR     0
MAY     0
JUN     0
JUL     0
AUG     0
SEP     0
OCT     0
NOV     0
DEC     0
ANN     0
dtype: int64

In [35]:
# Drop rows with NaN in all monthly columns (JAN-DEC)
monthly_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
nasa_temp_df = nasa_temp_df.dropna(subset=monthly_cols, how='all')

In [36]:
# Melt monthly columns into long format
nasa_temp_melted = pd.melt(
    nasa_temp_df,
    id_vars=['YEAR', 'LAT', 'LON'],
    value_vars=monthly_cols,
    var_name='Month',
    value_name='Temperature'
)

# Map month abbreviations to numbers
month_map = {
    'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6,
    'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12
}
nasa_temp_melted['Month'] = nasa_temp_melted['Month'].map(month_map)

In [37]:
# Create a datetime column
nasa_temp_melted['Date'] = pd.to_datetime(nasa_temp_melted[['YEAR', 'Month']].assign(DAY=1))

In [38]:
# Drop rows with NaN in Temperature
nasa_temp_melted = nasa_temp_melted.dropna(subset=['Temperature'])

In [39]:
# Aggregate spatially (average across LAT/LON) for national-level data
nasa_temp_agg = nasa_temp_melted.groupby(['Date', 'YEAR'])['Temperature'].mean().reset_index()

In [40]:
# Compute yearly averages for alignment with FAOSTAT
nasa_temp_yearly = nasa_temp_agg.groupby('YEAR')['Temperature'].mean().reset_index()

In [ ]:
# Save cleaned datasets
# nasa_temp_melted.to_csv("Cleaned_NASA_Power_Temperature_monthly.csv", index=False)
# nasa_temp_yearly.to_csv("Cleaned_NASA_Power_Temperature_yearly.csv", index=False)
print("Cleaned Datasets 'Cleaned_NASA_Power_Temperature_monthly.csv' and 'Cleaned_NASA_Power_Temperature_yearly.csv'")

# Preview cleaned datasets
print("\nCleaned NASA Power Temperature Monthly Preview:")
print(nasa_temp_melted.head())
print("\nCleaned NASA Power Temperature Yearly Preview:")
print(nasa_temp_yearly.head())

Cleaned Datasets 'Cleaned_NASA_Power_Temperature_monthly.csv' and 'Cleaned_NASA_Power_Temperature_yearly.csv'

Cleaned NASA Power Temperature Monthly Preview:
   YEAR   LAT     LON  Month  Temperature       Date
0  2000  10.0  33.125      1        29.43 2000-01-01
1  2000  10.0  33.750      1        29.71 2000-01-01
2  2000  10.0  34.375      1        25.70 2000-01-01
3  2000  10.0  35.000      1        23.26 2000-01-01
4  2000  10.0  35.625      1        25.55 2000-01-01

Cleaned NASA Power Temperature Yearly Preview:
   YEAR  Temperature
0  2000    24.219794
1  2001    24.240258
2  2002    24.669570
3  2003    24.660510
4  2004    24.621598

# ------------------------
### 3.3 Precipitation
# ------------------------

In [42]:
# Load the dataset
nasa_precip_df = pd.read_csv('3_POWER_Regional_Monthly_2000_2023 (1).csv', skiprows=9)

In [43]:
# Inspect the dataset
print("NASA Power Precipitation Initial Info:")
print(nasa_precip_df.info())
print(nasa_precip_df.head())

NASA Power Precipitation Initial Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7296 entries, 0 to 7295
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PARAMETER  7296 non-null   object
 1   YEAR       7296 non-null   int64
 2   LAT        7296 non-null   float64
 3   LON        7296 non-null   float64
 4   JAN        7296 non-null   float64
 5   FEB        7296 non-null   float64
 6   MAR        7296 non-null   float64
 7   APR        7296 non-null   float64
 8   MAY        7296 non-null   float64
 9   JUN        7296 non-null   float64
 10  JUL        7296 non-null   float64
 11  AUG        7296 non-null   float64
 12  SEP        7296 non-null   float64
 13  OCT        7296 non-null   float64
 14  NOV        7296 non-null   float64
 15  DEC        7296 non-null   float64
 16  ANN        7296 non-null   float64
dtypes: float64(15), int64(1), object(1)
memory usage: 969.1+ KB
None
     PARAMETER  YEAR   LAT     LON   JAN   FEB   MAR   APR   MAY   JUN   JUL  \
0  PRECTOTCORR  2000  10.0  33.125  0.00  0.09  0.02  0.88  2.37  2.61  4.65
1  PRECTOTCORR  2000  10.0  33.750  0.02  0.20  0.11  1.13  3.30  3.69  6.49
2  PRECTOTCORR  2000  10.0  34.375  0.05  0.22  0.30  1.41  4.86  4.42  8.94
3  PRECTOTCORR  2000  10.0  35.000  0.04  0.11  0.31  2.17  4.59  3.93  8.02
4  PRECTOTCORR  2000  10.0  35.625  0.01  0.01  0.17  2.72  3.73  3.78  7.01

    AUG   SEP   OCT   NOV   DEC   ANN
0  4.15  2.21  2.06  0.25  0.01  1.61
1  5.13  2.80  2.50  0.42  0.01  2.15
2  6.64  3.51  3.05  0.42  0.02  2.82
3  6.06  4.46  3.54  0.45  0.07  2.81
4  5.77  6.75  4.16  0.53  0.13  2.90

In [44]:
# Check if PARAMETER is uniform (all PRECTOTCORR)
if nasa_precip_df['PARAMETER'].nunique() == 1:
    nasa_precip_df = nasa_precip_df.drop(columns=['PARAMETER'])

In [45]:
# Replace -999 with NaN for missing data
nasa_precip_df = nasa_precip_df.replace(-999, np.nan)

# Check for missing values
print("NASA Power Precipitation Missing Values:")
print(nasa_precip_df.isnull().sum())

NASA Power Precipitation Missing Values:
YEAR    0
LAT     0
LON     0
JAN     0
FEB     0
MAR     0
APR     0
MAY     0
JUN     0
JUL     0
AUG     0
SEP     0
OCT     0
NOV     0
DEC     0
ANN     0
dtype: int64

In [46]:
# Drop rows with NaN in all monthly columns (JAN-DEC)
monthly_cols = ['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN', 'JUL', 'AUG', 'SEP', 'OCT', 'NOV', 'DEC']
nasa_precip_df = nasa_precip_df.dropna(subset=monthly_cols, how='all')

In [47]:
# Melt monthly columns into long format
nasa_precip_melted = pd.melt(
    nasa_precip_df,
    id_vars=['YEAR', 'LAT', 'LON'],
    value_vars=monthly_cols,
    var_name='Month',
    value_name='Precipitation'
)

# Map month abbreviations to numbers
month_map = {
    'JAN': 1, 'FEB': 2, 'MAR': 3, 'APR': 4, 'MAY': 5, 'JUN': 6,
    'JUL': 7, 'AUG': 8, 'SEP': 9, 'OCT': 10, 'NOV': 11, 'DEC': 12
}
nasa_precip_melted['Month'] = nasa_precip_melted['Month'].map(month_map)

In [48]:
# Create a datetime column
nasa_precip_melted['Date'] = pd.to_datetime(nasa_precip_melted[['YEAR', 'Month']].assign(DAY=1))

In [49]:
# Drop rows with NaN in Precipitation
nasa_precip_melted = nasa_precip_melted.dropna(subset=['Precipitation'])

In [50]:
# Aggregate spatially (average across LAT/LON) for national-level data
nasa_precip_agg = nasa_precip_melted.groupby(['Date', 'YEAR'])['Precipitation'].mean().reset_index()

# Compute yearly averages for alignment with FAOSTAT
nasa_precip_yearly = nasa_precip_agg.groupby('YEAR')['Precipitation'].mean().reset_index()

In [ ]:
# Save cleaned datasets
# nasa_precip_melted.to_csv("Cleaned_NASA_Power_Precipitation_monthly.csv", index=False)
# nasa_precip_yearly.to_csv("Cleaned_NASA_Power_Precipitation_yearly.csv", index=False)
print("NASA Power Precipitation Cleaned Datasets Saved as 'Cleaned_NASA_Power_Precipitation_monthly.csv' and 'Cleaned_NASA_Power_Precipitation_yearly.csv'")

# Preview cleaned datasets
print("\nCleaned NASA Power Precipitation Monthly Preview:")
print(nasa_precip_melted.head())
print("\nCleaned NASA Power Precipitation Yearly Preview:")
print(nasa_precip_yearly.head())

NASA Power Precipitation Cleaned Datasets Saved as 'Cleaned_NASA_Power_Precipitation_monthly.csv' and 'Cleaned_NASA_Power_Precipitation_yearly.csv'

Cleaned NASA Power Precipitation Monthly Preview:
   YEAR   LAT     LON  Month  Precipitation       Date
0  2000  10.0  33.125      1           0.00 2000-01-01
1  2000  10.0  33.750      1           0.02 2000-01-01
2  2000  10.0  34.375      1           0.05 2000-01-01
3  2000  10.0  35.000      1           0.04 2000-01-01
4  2000  10.0  35.625      1           0.01 2000-01-01

Cleaned NASA Power Precipitation Yearly Preview:
   YEAR  Precipitation
0  2000       1.640576
1  2001       1.767802
2  2002       1.674238
3  2003       1.633662
4  2004       1.579301